{% extends 'base.html' %}

{% block content %}
    <div class="container pt-2">
    <div class="banner" style="background-image: url( {{ sport[0].urlToImage  }} )">
        <div class="banner-content">
            <h3 class="banner-news">News</h3>
            <h3 class="banner-header"> {{ sport[0].title }} </h3>
            <a href=" {{ sport[0].url }} " class="btn btn-sm btn-info">Read more</a>
        </div>
    </div>
       <h2 class="top pl-2 pt-2">Top to news Headlines</h2>
    <div class="row">
        {% for sport_news in sport %}
        <div class="col-sm-4">
                <div class="cards">
                    <div class="card-body d-flex mt-2" style="width: 24rem;">
                        <div class="card-cont">
                            <img class="img-fluid" width="500" src=" {{ sport_news.urlToImage }} ">
                            <h5 class="news-source-name text-muted pt-2"> ~ {{ sport_news.source.name }} ~</h5>
                            <h6 class="news-title"> {{ sport_news.title }} </h6>
                            <a href=" {{ sport_news.url }} " target="_blank">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>


{% endblock %}